@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    background: rgb(92, 227, 245);
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    transition: height .2s ease;
    overflow: hidden;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="file"] {
    display: block;
    margin-top: 5px;
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#status {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

th, td {
    padding: 5px;
    border-bottom: 0px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: lightblue;
}

td {
    background-color: rgb(125, 189, 211);
}